.footer {
    padding: 0 0 24px;
    display: flex;
    justify-content: center;
}

.footer__copyright {
    margin: 0 auto;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}