.places {
    max-width: 987px;
    padding: 92px 0 0;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .places {
        max-width: 95%;
        padding: 88px 0 0;
    }
}